junit.ConsumerCase.baseDir=@BUILD_DIR@/examples/consumers
junit.ServiceCase.baseDir=@BUILD_DIR@/examples/services
junit.ProducerCase.baseDir=@BUILD_DIR@/examples/producers
junit.WorkflowCase.baseDir=@BUILD_DIR@/examples/workflows
junit.mail.email.with.cd=@BASE_DIR@/src/test/resources/mail/email-with-content-disposition.txt
junit.mail.email.without.cd=@BASE_DIR@/src/test/resources/mail/email-without-content-disposition.txt
